#include <winres.h>
#include "resource.h"

1 RT_MANIFEST "../../resources/WinLove.manifest"
IDI_WINLOVE ICON "../../resources/brand/WinLove.ico"

IDR_FONT_INTER_REGULAR RCDATA "../../resources/fonts/Inter-Regular.ttf"
IDR_FONT_INTER_MEDIUM RCDATA "../../resources/fonts/Inter-Medium.ttf"
IDR_FONT_INTER_SEMIBOLD RCDATA "../../resources/fonts/Inter-SemiBold.ttf"
IDR_FONT_MONO_REGULAR RCDATA "../../resources/fonts/JetBrainsMono-Regular.ttf"
IDR_FONT_GEIST_REGULAR RCDATA "../../resources/fonts/Geist-Regular.ttf"
IDR_FONT_GEIST_MEDIUM RCDATA "../../resources/fonts/Geist-Medium.ttf"
IDR_FONT_GEIST_SEMIBOLD RCDATA "../../resources/fonts/Geist-SemiBold.ttf"
IDR_FONT_GEIST_MONO RCDATA "../../resources/fonts/GeistMono-Regular.ttf"

IDR_STRINGS_TR RCDATA "../../resources/strings/tr.json"
IDR_STRINGS_EN RCDATA "../../resources/strings/en.json"
IDR_WELCOME_LANGS RCDATA "../../resources/strings/welcome-langs.json"

IDR_CATALOG_APPX RCDATA "../../resources/catalog/appx.json"
IDR_CATALOG_SERVICES RCDATA "../../resources/catalog/services.json"
IDR_CATALOG_SETTINGS RCDATA "../../resources/catalog/settings.json"
IDR_CATALOG_COMPONENTS RCDATA "../../resources/catalog/components.json"
IDR_CATALOG_TASKS RCDATA "../../resources/catalog/tasks.json"
IDR_CATALOG_HOSTS RCDATA "../../resources/catalog/hosts.json"
IDR_CATALOG_PROGRAMS RCDATA "../../resources/catalog/programs.json"
IDR_CATALOG_COMPAT RCDATA "../../resources/catalog/compat.json"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,1,0
 PRODUCTVERSION 1,2,1,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "WinLove - Windows image customization"
            VALUE "ProductName", "WinLove"
            VALUE "FileVersion", "1.2.1"
            VALUE "ProductVersion", "1.2.1 Beta"
            VALUE "OriginalFilename", "WinLove.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
